<a href="https://colab.research.google.com/github/SIT-COMP-1210/module2-breakout-DagmawiTeweldebrhanKifle/blob/main/module2_breakout.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
!git clone https://github.com/SIT-COMP-1210/Module2-Breakout-DagmawiTeweldebrhanKifle.git

Cloning into 'Module2-Breakout-DagmawiTeweldebrhanKifle'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 15 (delta 2), reused 1 (delta 1), pack-reused 11 (from 1)
Receiving objects: 100% (15/15), 7.06 KiB | 1.76 MiB/s, done.
Resolving deltas: 100% (3/3), done.



**Data Types and Arithmetic Operators Exercise**

1. What is the type of 2?

In [2]:
type(2)

int

2. What is the type of 2.0?

In [3]:
type(2.0)

float

3. What is the resulting type of adding 2 and 2?

In [4]:
2+2

4

4. What is the type of ‘Programming’ ?

In [5]:
type("programming")

str

5. What is the resulting output when you add ‘Programming’ and ‘Computer’?

In [7]:
"Programming" + "Computer"

'ProgrammingComputer'

6. What is the result of ‘Ethiopia’ * 3 ?

In [17]:
"Ethiopia"*3

'EthiopiaEthiopiaEthiopia'

7. What is the result of 10.0 * 7?

In [9]:
10.0*7

70.0

8. What is stored in result?

In [27]:
result = str(int(2.8))
result

'2'



9. What is the final value and type of x?

In [14]:
x = int(float(-5))
x

-5

10. What is stored in expr? What is the order of operations?

In [15]:
expr = "a" + "b" * 2 + "c"
expr

'abbc'

11. What is the final value of value?

In [25]:
value = 100 / 5 // 4 * 3 % 5
value

0.0

12. hat is the value of b? Why does this happen?

In [24]:
b = bool(0)
bool(0.0)

False

13. Why are the results numerically the same but types different?

In [ ]:
a = 4 * 3
b = 4 * 3.0

14. Does calling int() on an int or float() on a float change the value? Why or why not?

In [ ]:
x = int(5)
y = float(5.0)

15. What is the value and type of x?

In [ ]:
x = 2 ** 3

16. What is the value of y?

In [ ]:
y = 4 * 2 ** 2

17. What is the value of a?

In [ ]:
a = 5 - 1 + 4 * 2

18. What is the value of b?

In [ ]:
b = (5 - 1 + 4) * 2

19. What are the values of b1 and b2? Are they the same? If not, why are they different?

In [ ]:
b1 = bool("")
b2 = bool("False")

20. Is (2 + 3) * 4 an expression or a function?

In [ ]:
# your answer here

21. What is the final value of result?

In [ ]:
result = str(int(5.9) + 2 ** 2) * 2